---
import 'animate.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons8-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<link rel="stylesheet" type="text/css" href="styles-header.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
		<title>CV David</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Página Principal</a></li>
					<li><a href="/sobremi">Sobre mi</a></li>
					<li><a href="/formacion">Formación</a></li>
					<li><a href="/experiencia">Experiencia profesional</a></li>
					<li><a href="/idiomas">Idiomas</a></li>
					<li><a href="/programas">Programas</a></li>
					<li><a href="/contacto">Contacto</a></li>
					<li><a href="/busqueda">Reloj</a></li>
				</ul>
			</nav>
		</header>
		
		<div class="back-img">
			<div class="container">
				<h1 class="title2"><a class="animate__animated animate__fadeIn">Experiencia profesional</a></h1>
				<div class="content animate__animated animate__fadeIn">
                    <div class="cuadro">
                        <table class="tabla">
                            <tr>
								<td><img src="mail.png"></td>
                                <td><h4>david.garcia.contreras.20@gmail.com</h4></td>                                
                            </tr>
                            <tr>
								<td><img src="telefono.png"></td>
                                <td><h4>+34 677 258 300</h4></td>                                
                            </tr>
                            <tr>
								<td><img src="location.png"></td>
                                <td><h4>Carrer Santa Llúcia 88-90, Terrassa, 08222 Barcelona - España</h4></td>                                
                            </tr>
							<tr>
								<td><img src="linkedin.png"></td>
                                <td><h4>www.linkedin.com/in/david-garcia-contreras</h4></td>                                
                            </tr>
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>