---
import "animate.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/icons8-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<link rel="stylesheet" type="text/css" href="styles-header.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
		/>
		<title>CV David</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Página Principal</a></li>
					<li><a href="/sobremi">Sobre mi</a></li>
					<li><a href="/formacion">Formación</a></li>
					<li><a href="/experiencia">Experiencia profesional</a></li>
					<li><a href="/idiomas">Idiomas</a></li>
					<li><a href="/programas">Programas</a></li>
					<li><a href="/contacto">Contacto</a></li>
                    <li><a href="/busqueda">Reloj</a></li>
				</ul>
			</nav>
		</header>

		<div class="back-img">
			<div class="container">
				<h1 class="title2"><a class="animate__animated animate__fadeIn">Programas</a></h1>
				<div class="content animate__animated animate__fadeIn">
                    <div class="cuadro">
                        <table class="tabla">
                            <tr>
                                <td><h1>Pack Microsoft:</h1></td>
                                <td><h2>Word</h2></td>
                                <td><img src="/word.jpg" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Excel</h2></td>
                                <td><img src="/excel.jpg" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>PowerPoint</h2></td>
                                <td><img src="/ppt.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1>Edición 3D:</h1></td>
                                <td><h2>SolidWorks</h2></td>
                                <td><img src="/sldwrk.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Fusion360</h2></td>
                                <td><img src="/fusion.jpg" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Simplify 3D</h2></td>
                                <td><img src="/simplify.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1>Edición Vídeo/Imagen</h1></td>
                                <td><h2>Premiere</h2></td>
                                <td><img src="premiere.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Photoshop</h2></td>
                                <td><img src="/photoshop.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1>Lenguajes:</h1></td>
                                <td><h2>C/C++</h2></td>
                                <td><img src="/c++.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Java</h2></td>
                                <td><img src="/java.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>HTML/CSS</h2></td>
                                <td><img src="/htmlcss.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Assemble</h2></td>
                                <td><img src="/assembly.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>Rapid</h2></td>
                                <td><img src="/rapid.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1>Programas simulación:</h1></td>
                                <td><h2>Matlab</h2></td>
                                <td><img src="/matlab.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>RobotStudio</h2></td>
                                <td><img src="/robot.png" alt="Imagen"></td>
                            </tr>
                            <tr>
                                <td><h1></h1></td>
                                <td><h2>LTSpice</h2></td>
                                <td><img src="/ltspice.jpg" alt="Imagen"></td>
                            </tr>
                        </table>
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>