---
import 'animate.css';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/icons8-logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
		<link rel="stylesheet" type="text/css" href="styles-header.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
		<title>CV David</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Página Principal</a></li>
					<li><a href="/sobremi">Sobre mi</a></li>
					<li><a href="/formacion">Formación</a></li>
					<li><a href="/experiencia">Experiencia profesional</a></li>
					<li><a href="/idiomas">Idiomas</a></li>
					<li><a href="/programas">Programas</a></li>
					<li><a href="/contacto">Contacto</a></li>
					<li><a href="/busqueda">Reloj</a></li>
				</ul>
			</nav>
		</header>
		<div class="back-img">
			<div class="container">
				<h1 class="title2"><a class="animate__animated animate__fadeIn">Sobre mi</a></h1>
				<div class="content animate__animated animate__fadeIn">
					<div class="left">
						<p class="centered-text">
							Soy un joven de 23 años, estudiante de ingeniería
							electrónica industrial y automática. Me queda solo
							un año para acabarla y me gustaría ingresar al mundo
							laboral en mi sector de ingeniería. Estoy muy
							interesado en el mundo de la electrónica, pero
							también me apasiona todo lo relacionado con la
							impresión 3D, la edición 3D, la mecatrónica y otras
							variantes afines. Soy una persona que se desenvuelve
							muy bien en público. Algo que destacaría de mí mismo
							es mi actitud, mi creatividad en proyectos, mi
							capacidad para aplicarme y mi carácter. Además, soy
							capaz de colaborar y superar desafíos.
						</p>
					</div>
					<div class="right">
						<img
							src="/dni.png"
							alt="Imagen"
						/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>